# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
dump.rdb
backend/advisors/
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.log
backend/**/*.tmp
backend/**/.DS_Store
backend/**/node_modules/
backend/**/dist/
backend/**/build/
backend/data/

backend/data
data

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
